<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quizs</title>
  <!-- <link rel="stylesheet" href="/css/event.css"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/css/getMoreAddContent.css"> -->
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="sweetalert2.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">


  <%- include("./partials/header.ejs")%>
    <style>
      * {
        box-sizing: border-box !important;
      }

      .card-1,
      .card-body-1 {
        border: none !important;
      }

      .descp {
        text-indent: 2em;
        margin: 0 2em;
      }

      .rectangle-141 {
        background-color: white;
        border-radius: 0.75em;
        box-shadow: 0em 0.75em 1.5em -0.25em #919eab1f, 0em 0em 0.125em #919eab33;
        height: 14.6875em;
        width: 75%;
        margin: 2em 2em;
      }

      .home-div,
      .a-home {
        color: #999999 !important;
      }

      .above-nav {
        background-color: white !important;
        border-bottom: 1px solid #999999;
      }

      .dark .above-nav-status {
        background-color: var(--secondary-color) !important;
        border-right: 1px solid #494949;
      }

      .status-a {
        color: #404258 !important;
      }

      .list-lesson-p {
        color: #8A2BE2;
      }

      .list-lesson-p-span {
        color: #4B0082;
      }

      .each-lesson {
        border-top: 0.1em solid #8A2BE2;
      }

      .aside-right {
        background-color: var(--bg-color) !important;
        height: 100%;
      }

      .manange-bar {
        border-radius: 0.5em;
        justify-content: space-between !important;

      }



      .dark .manange-bar,
      .dark .question-content {
        background-color: var(--secondary-color) !important;
      }

      .answer_key input {
        width: 10%;
      }

      .container {
        display: flex;
        margin-top: 12px;
        width: 200%;
        justify-content: center;
      }

      .question {
        background-color: white;
        margin: 24px auto !important;
        padding: 41px !important;
        border-radius: 14px;
        position: relative;
        border-left: 6px solid #ffffff;

      }

      .dark .question {
        background-color: var(--secondary-color);
        border-left: 6px solid var(--secondary-color);
      }

      .question_option-prop,
      .dark .question_option-prop {
        border-left: 6px solid rgb(103, 58, 183);

      }

      .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        /* align-items: center; */
      }

      .double_item {
        display: inline-block;
        padding: 3px;
        text-decoration: none;
        margin: 0 24px;
        margin-bottom: 1rem;
      }

      .double_item:hover {
        text-decoration: underline;
        border-radius: 7px;

      }

      .options {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        flex-direction: column;
      }

      .options input:focus {
        border: none;
      }

      .options input {
        margin: 4px;
        margin-top: 19px;
        border: none;

      }

      .dark .options input {
        background-color: var(--secondary-color);
        color: var(--text-color);

      }

      .description_class {
        display: flex;
        flex-direction: column;
      }

      .description_class :first-child {
        padding-bottom: 15px;
        margin-bottom: 27px;
        border: none;
        border-bottom: 1px solid gray;
      }

      select.description_class:first-child:focus {
        outline: none;
        box-shadow: none !important;
      }

      .description_class :last-child {
        outline: none;
        border: none;
      }

      .footer {
        background-color: #F8F9FA;
      }

      .answer_key {
        margin-top: 20px;
        text-decoration: none;
      }

      .answer_key:hover {
        text-decoration: underline;
      }

      .input_check {
        margin: 0px;
        display: inline-block;
        width: 3%;
        padding: 0px;
      }

      .setting_menu {
        margin-left: 20px;
        background-color: white;
        width: 80%;
        height: 440px;
        border-radius: 10px;
      }

      .addition {
        background-color: white;
      }



      /* on off  */
      .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 25px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 6px;
        right: -5px;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 18px;
        left: 1px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked+.slider {
        background-color: #2196F3;
      }

      input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .imagebutton {
        padding: 11px;
        margin-left: 14px;
        margin-right: 9px;
      }

      .dark .imagebutton {
        color: white;
      }

      .embed-responsive {
        width: 63%;

      }

      /* hover  */
      .Hover-effect {
        position: relative;
      }

      :root {
        --underline_color: red;
        --underline-hight: 0.175rem;
      }

      .Hover-effect::after {
        content: "";
        position: absolute;
        width: 100%;
        height: var(--underline-hight);
        background-color: var(--underline_color);
        left: 0;
        bottom: 0;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
      }


      .active-container::after {
        transform: scale(1, 1);
      }


      .Hover-effect:hover::after {
        transform: scale(1, 1);
      }



      .svgloader {
        display: block;
        width: 30%;
        margin: 0 auto;
      }

      .videobut {
        padding: 9px;
        margin-right: 8px;
      }

      .videoicon {
        padding: 0px;
        height: 19px;
        width: 24px;
      }

      * {
        box-sizing: border-box !important;
      }

      .card-1,
      .card-body-1 {
        border: none !important;
      }

      .descp {
        text-indent: 2em;
        margin: 0 2em;
      }

      .rectangle-141 {
        background-color: white;
        border-radius: 0.75em;
        box-shadow: 0em 0.75em 1.5em -0.25em #919eab1f, 0em 0em 0.125em #919eab33;
        height: 14.6875em;
        width: 75%;
        margin: 2em 2em;
      }

      .home-div,
      .a-home {
        color: #999999 !important;
      }

      .above-nav {
        background-color: white !important;
        border-bottom: 1px solid #999999;
      }

      .dark .above-nav-status {
        background-color: #444 !important;
        border-right: 1px solid #494949;
      }

      .status-a {
        color: #404258 !important;
      }

      .list-lesson-p {
        color: #8A2BE2;
      }

      .list-lesson-p-span {
        color: #4B0082;
      }

      .each-lesson {
        border-top: 0.1em solid #8A2BE2;
      }

      .aside-right {
        background-color: var(--bg-color) !important;
        height: 100%;
      }

      .manange-bar {
        border-radius: 0.5em;
        justify-content: space-between !important;

      }


      .question-content {
        height: fit-content !important;
        border-radius: 1em !important;
        justify-content: center !important;
      }

      .dark .manange-bar,
      .dark .question-content {
        background-color: #444 !important;
      }

      .lesson-nothing {
        margin: 25% 0 !important;
        padding: 0 !important;
      }

      .each-lesson-a {
        text-decoration: none !important;
      }

      .each-lesson-a:hover .each-lesson {
        border-left: 0.2em solid #8A2BE2 !important;
      }

      .card-img-top {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
      }

      .setColumn {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr !important;
      }

      .card-a {
        text-decoration: none !important;
      }

      .card-a:hover,
      .card-a:hover .p-lesson-name {
        color: #007bff !important;
        transition: 0.5s;
      }

      .card-a:hover .bi-book {
        color: #007bff !important;
        transition: color 0.5s;
      }

      .bi-book-fill {
        display: none;
      }

      .card-a:hover .bi-book-fill {
        display: inline-block !important;
        transition: 0.5s;
      }

      .card-a:hover .bi-book {
        display: none;
        transition: 0.5s;
      }

      .manange-bar,
      .question-content {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px !important;
        border-radius: 0.5em;
      }

      .card-1 {
        width: 90% !important;
        height: fit-content !important;
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
        cursor: pointer;
        border-radius: 0.5em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px !important;
      }

      .dark .card-1 {
        box-shadow: lightgray 0px 2px 5px -1px !important;
      }

      .card-1:hover {
        transform: scale(1.05);
      }

      .card-header {
        border-right: 1px solid #EAEFF4;
        border-bottom: 1px solid #EAEFF4;
      }

      .lesson-nothing {
        margin: 25% 0 !important;
        padding: 0 !important;
      }

      .each-lesson-a {
        text-decoration: none !important;
      }

      .each-lesson-a:hover .each-lesson {
        border-left: 0.2em solid #8A2BE2 !important;
      }

      .card-img-top {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
      }

      .setColumn {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr !important;
      }

      .card-a {
        text-decoration: none !important;
      }

      .card-a:hover,
      .card-a:hover .p-lesson-name {
        color: #007bff !important;
        transition: 0.5s;
      }

      .card-a:hover .bi-book {
        color: #007bff !important;
        transition: color 0.5s;
      }

      .bi-book-fill {
        display: none;
      }

      .card-a:hover .bi-book-fill {
        display: inline-block !important;
        transition: 0.5s;
      }

      .card-a:hover .bi-book {
        display: none;
        transition: 0.5s;
      }

      .manange-bar,
      .question-content {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px !important;
        border-radius: 0.5em;
      }

      .card-1 {
        width: 90% !important;
        height: fit-content !important;
        transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
        cursor: pointer;
        border-radius: 0.5em;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px !important;
      }

      .dark .card-1 {
        box-shadow: lightgray 0px 2px 5px -1px !important;
      }

      .card-1:hover {
        transform: scale(1.05);
      }

      .card-header {
        border-right: 1px solid #EAEFF4;
        border-bottom: 1px solid #EAEFF4;
      }

      /* .a-list-3,
      .bi-3 {
        color: #8A2BE2 !important;
      } */



      #yearSelector {
        border-color: #EAEFF4;
        border-radius: 0.5em;
        background-color: white !important;
        font-size: smaller;
        padding: 0.5em !important;
      }

      #yearSelector option {
        color: #404258;
        background-color: white !important;

      }

      /* .set-border {
      border-bottom: 1px solid #EAEFF4;
      padding-bottom: 1em !important;

    } */

      .set-border-bottom {
        border-bottom: 1px solid #EAEFF4;
        margin-bottom: 1em !important;

      }

      .lesson-bar {
        border-left: 0.25em solid #007bff !important;
        padding-left: 0.5em !important;
        margin-right: 0.5em !important;

      }

      .a-add {
        color: #007bff !important;
      }

      .a-add:hover {
        color: #0053ac !important;
      }

      .descp {
        text-indent: 2em;
        margin: 0 2em;
      }

      .rectangle-141 {
        background-color: white;
        border-radius: 0.75em;
        box-shadow: 0em 0.75em 1.5em -0.25em #919eab1f, 0em 0em 0.125em #919eab33;
        height: 14.6875em;
        left: 4.6875em;
        top: 37.3125em;
        width: 39.125em;
        width: 75%;
        margin: 2em 2em;
      }

      .home-div,
      .a-home {
        color: #999999 !important;
      }

      .above-nav {
        background-color: #dde6ed33;
      }

      .status-a {
        color: #404258 !important;
      }

      .list-lesson-p {
        color: #8A2BE2;

      }

      .list-lesson-p-span {
        color: #4B0082;
      }

      .each-lesson {
        border-top: 0.1em solid #8A2BE2;

      }

      .aside-right {
        background-color: #dde6ed1a;
        height: 100%;
      }

      .manange-bar {
        border-radius: 1em;
        /* grid-template-columns: 1fr 1fr; */
        /* justify-content: space-between !important; */

      }


      .main-content {
        height: 100%;
      }

      .question-content {
        height: 100%;
        border-radius: 1em !important;

        justify-content: center !important;
        /* border-top: 0.5em solid #8A2BE2; */
      }

      .lesson-nothing {
        /* margin: 25% 0 !important; */
        padding: 0 !important;
      }

      .add-lesson-btn {
        float: right;
        width: auto;
      }


      .show-layout-2 {
        display: block;
        opacity: 1;
        /* สิ้นสุดที่ความทึบ 1 */
        transition: opacity 0.5s ease;
        /* กำหนดการเปลี่ยนแปลงที่ต้องการ */
      }

      .layout01-mainDes {

        font-size: xx-large !important;
        font-weight: bolder !important;

      }

      /* .input-mainSubDes,
    .input-mainDes,
    .input-mainSubDes2 {
      white-space: pre-wrap !important;
      overflow: auto !important;
    } */

      .subDes,
      .subDesNumber2 {
        border: none !important;
      }

      .layout1-contents {
        background-color: #dde6ed1a;
        width: 85%;

      }

      .layout01_gird {
        display: grid;
        grid-template-columns: 0.75fr 1.25fr;
      }


      .Topic1 {
        background-color: #8A2BE2 !important;
        color: white !important;
        border-radius: 1em !important;
        width: 70% !important;
      }

      .Topic1::placeholder {
        color: white !important;
        font-size: xx-large;
        font-weight: bolder;
        text-align: center !important;
      }

      #file-input {
        display: none !important;
      }

      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: ฟ;
        /* ทำให้สูงเต็มหน้าจอ */
      }

      video {
        border-radius: 0.5em;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

      }

      .file-icon {
        font-size: 7em;
      }

      .content-2 {
        border-top: 0.5em solid #8A2BE2;
        border-radius: 1em !important;
        height: 100% !important;
        background-color: #dde6ed1a !important;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
      }

      .main-content-long-text {
        color: #8A2BE2 !important;
        border: none !important;

      }

      .text-areas-indent {
        text-indent: 2em;
      }

      .main-content-long-text::placeholder {
        color: #8A2BE2 !important;
        /* text-indent: 2em !important; */
      }

      .setEdge1,
      .setEdge2 {
        border-right: 1px solid #8A2BE2 !important;
        border-bottom-width: 50% !important;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset !important;
      }

      .add-button-2 {
        float: right;

      }

      .layout01_gird {
        display: grid;
        grid-template-columns: 0.75fr 1.25fr;
      }

      .allCOntent {
        height: fit-content;
      }

      .subLayout2Contents2 div {
        height: fit-content !important;
      }

      .setborder {
        border-radius: 0.5em !important;
      }

      .addContent-a {
        text-decoration: none !important;
        transition-duration: 0.3s;
      }

      .addContent-a:hover {
        color: #0d57d6 !important;
        transition: 0.3s;
      }

      .lesson-bar {
        border-left: 0.25em solid #387bef !important;
        padding-left: 0.5em !important;
      }

      .comment-table tr th {
        padding-top: 1em !important;
        padding-bottom: 1em !important;
        border-bottom: 1px solid #ced4daa0;
        color: #5a6a85 !important;

      }

      .comment-table tr td {
        padding-top: 1em !important;
        /* padding-bottom: 1em !important; */
        /* border-bottom: 1px solid #ced4daa0; */

      }

      .comment {
        display: flex;
        align-items: center;
        padding: 15px;
        max-height: 104px;
      }

      .comment img {
        width: 50px;
        height: 50px;
        border-radius: 25%;
        margin-right: 1em !important;
        object-fit: cover;

      }

      /* .comment .content {
      flex-grow: 1;
    } */

      .comment-color {
        color: #7C8FAC !important;
      }

      .fancyBox {
        width: 10%;
        height: auto;
      }

      .comment-files {
        width: 125px;
        height: 125px;
        margin-right: 1em !important;
        border-radius: 10%;
      }

      .commentOption {
        position: absolute;

      }

      .optionComment:hover {
        color: #003ba1 !important;
        transition: 0.3s;
      }

      .reply-comment {
        display: none;
      }

      .swal-container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;

      }

      .swal-title {
        font-size: 1.5em !important;
        font-weight: bold !important;
      }

      .swal-text {
        margin: 1em 0 !important;
      }

      .swal-icon {

        margin: 2em auto !important;
      }

      .swal-confirm-button,
      .swal-cancel-button,
      .swal-launch-button {
        margin: 2em 1em !important;
      }

      .swal-confirm-button {
        background-color: #d33;
        border-color: #d33;
        padding: 0.75rem !important;
      }

      .swal-launch-button {
        background-color: #0d6efd;
        border-color: #0d6efd;
        padding: 0.75rem !important;
      }

      .swal-cancel-button {
        background-color: gray;
        border-color: gray;
        padding: 0.75rem !important;
      }


      .container {
        display: flex;
        margin-top: 12px;
        width: 200%;
        justify-content: center;
      }



      .dark .question {
        background-color: #444;
        border-left: 6px solid #444;
      }

      .question_option-prop,
      .dark .question_option-prop {
        border-left: 6px solid rgb(103, 58, 183);

      }

      .first {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        /* align-items: center; */
      }

      .double_item {
        display: inline-block;
        padding: 3px;
        text-decoration: none;
        /* margin: 0 24px; */
        margin-bottom: 1rem;
      }

      .double_item:hover {
        text-decoration: underline;
        border-radius: 7px;

      }

      .options {
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        flex-direction: column;
      }

      .options input {
        margin: 4px;
        margin-top: 19px;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;

      }

      .dark .options input {
        background-color: #444;
        color: var(--text-color);

      }

      .description_class {
        display: flex;
        flex-direction: column;
      }

      .description_class :first-child {
        padding-bottom: 15px;
        margin-bottom: 27px;
        border: none;
        border-bottom: 1px solid gray;
      }

      select.description_class:first-child:focus {
        outline: none;
        box-shadow: none !important;
      }

      .description_class :last-child {
        outline: none;
        border: none;
      }

      .footer {
        background-color: #F8F9FA;
      }

      .answer_key {
        margin-top: 20px;
        text-decoration: none;
      }

      .answer_key:hover {
        text-decoration: underline;
      }

      .input_check {
        margin: 0px;
        display: inline-block;
        width: 3%;
        padding: 0px;
      }

      .setting_menu {
        margin-left: 20px;
        background-color: white;
        width: 80%;
        height: 440px;
        border-radius: 10px;
      }

      .addition {
        background-color: white;
      }



      /* on off  */
      .switch {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 25px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 6px;
        right: -5px;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 18px;
        left: 1px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }

      input:checked+.slider {
        background-color: #2196F3;
      }

      input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .imagebutton {
        padding: 11px;
        margin-left: 14px;
        margin-right: 9px;
      }

      .dark .imagebutton {
        color: white;
      }

      .embed-responsive {
        width: 63%;

      }

      /* hover  */
      .Hover-effect {
        position: relative;
      }

      :root {
        --underline_color: red;
        --underline-hight: 0.175rem;
      }

      .Hover-effect::after {
        content: "";
        position: absolute;
        width: 100%;
        height: var(--underline-hight);
        background-color: var(--underline_color);
        left: 0;
        bottom: 0;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
      }


      .active-container::after {
        transform: scale(1, 1);
      }


      .Hover-effect:hover::after {
        transform: scale(1, 1);
      }



      .svgloader {
        display: block;
        width: 30%;
        margin: 0 auto;
      }

      .videobut {
        padding: 9px;
        margin-right: 8px;
      }

      .videoicon {
        padding: 0px;
        height: 19px;
        width: 24px;
      }

      * {
        box-sizing: border-box !important;
      }

      .card-1,
      .card-body-1 {
        border: none !important;
      }

      .descp {
        text-indent: 2em;
        margin: 0 2em;
      }

      .rectangle-141 {
        background-color: white;
        border-radius: 0.75em;
        box-shadow: 0em 0.75em 1.5em -0.25em #919eab1f, 0em 0em 0.125em #919eab33;
        height: 14.6875em;
        width: 75%;
        margin: 2em 2em;
      }

      .input-question {
        border: none;
        outline: none;
        margin: 0 24px;
      }

      .dark .input-question {
        border: none;
        outline: none;
        background-color: #444;
        color: var(--text-color);
      }

      .grey {
        color: gray !important;
      }

      .dark .grey {
        color: lightgray !important
      }

      .add-button.cancel-button {
        background-color: #ec5800;
        border-color: #ec5800;
        color: white;
      }

      .add-button.cancel-button:hover {
        background-color: #cb410b;
        border-color: #cb410b;
      }

      .dropdown-menu {
        z-index: 1050 !important;
        /* ให้แน่ใจว่า dropdown อยู่ด้านบน */
        display: block !important;
      }

      @media screen and (max-width: 768px) {
        .above-nav-status {
          display: none;
        }
      }
    </style>
</head>

<!-- เพิ่มก่อน </body> -->

<body>

  <%- include("./partials/nav2.ejs")%>
    <!-- <div class="above-nav d-flex px-4 py-3">
    <div class="home-div above-nav-home d-flex mx-2 my-0 align-middle">
      <i class="bi bi-house mx-2"></i>
      <a href="/adminIndex" class="a-home">
        <p class="m-0">หน้าหลัก &nbsp;&nbsp;></p>
      </a>
    </div>

    <a href="#" class="status-a mx-2 my-0 align-middle">
      <p class="m-0">บทเรียน</p>
    </a>

  </div> -->
    <!-- อยากเพิ่มปุ่ม ปล่อยแบบทดสอบ -->

    <div class="main-content d-flex w-100 h-auto">
      <%- include("./partials/lessonsList.ejs")%>
        <div class="row allCOntent" style="width: 80% !important;">
          <div class="col-12 aside-right px-4 py-4 bg-white" style="width: 100% !important;">
            <div class="manange-bar p-4 bg-white w-100">
              <p class="fw-normal fs-6 lesson-bar ms-2">แบบทดสอบ </p>
              <br>
              <p class="fw-normal fs-3 ms-2 ">
                <%=quiz.quizname%>
              </p>
              <p class="fs-6 mx-2 mt-1" style="color: gray;">
                <%=quiz.quizdescription%>
              </p><br>
              <p class="fw-normal w-auto fs-6 mb-2" style="margin-left: 0.5em !important;">เวลาในการทำแบบทดสอบ:
                <span class="fw-normal fs-6 text-primary" style="margin-right: 1em !important;">
                  <!-- <select
                    class="select"
                    style="font-size: 0.9rem; max-width: 10em;"
                    required
                  >
                    <option id='15min' class="menuItem " value="15min">15 นาที</option>
                    <option id='30min' class="menuItem " value="30min">30 นาที</option>
                    <option id='1hour' class="menuItem " value="1hour">1 ชั่วโมง</option>
                    <option id='2hours' class="menuItem " value="2hours">2 ชั่วโมง</option>
                    <option id='3hours' class="menuItem " value="3hours">3 ชั่วโมง</option>
                  </select> -->
                  <%=quiz.timeLimit.display%>
                </span>

                จำนวนครั้งที่เข้าทำได้:


                <span class="fw-normal fs-6 text-primary" style="margin-right: 1em !important;">
                  <!-- <input
                    type="number"
                    value="1"
                    min="1"
                    class="input-number"
                    style="max-width: 3em; text-align: center; font-size: 0.9rem;"
                  /> -->
                  <%=quiz.attemptLimit%> ครั้ง
                </span>

                <!-- จำนวนข้อ: 


                <span class="fw-normal fs-6 text-primary" style="margin-right: 1em !important;">0 ข้อ</span> -->

              </p>
              <!-- <p class="mx-2" style="color: gray;">
                <%=quiz.quizdescription%>
              </p><br> -->

              <div class="d-flex">
                <div class="d-flex w-50">
                  <!-- <a href="/adminIndex/getMoreAddQuestion?quizId=<%=quiz._id%>"
                    class="add-button btn btn-primary my-2 p-2">
                    เพิ่มคำถาม<i class="bi bi-plus-circle-fill ms-2"></i>
                  </a> -->
                  <% if (!quiz.releaseWhen) { %>
                    <!-- แสดงปุ่มแก้ไขและปล่อยแบบทดสอบ เมื่อยังไม่ได้ปล่อย -->
                    <a href="/adminIndex/eachQuiz?quizId=<%= quiz._id %>/edit"
                      class="add-button btn btn-warning my-2 ms-2 p-2 me-4" style="color: white;">
                      <span class="text_btn">แก้ไขแบบทดสอบ</span>
                      <i class="bi bi-pencil-square ms-1 "></i>
                    </a>


                    <div class="btn-group">
                      <button type="button" class="btn btn-primary px-2"
                        onclick="confirmRelease('<%= quiz._id %>')">ปล่อยแบบทดสอบ</button>
                      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#"
                            onclick="openReleaseQuizModal('<%= quiz._id %>')">ตั้งเวลาปล่อย</a>
                        </li>
                      </ul>
                    </div>

                    <% } else { %>
                      <!-- แสดงปุ่มยกเลิกการปล่อย เมื่อปล่อยแล้ว -->
                      <a href="#" class="add-button cancel-button btn my-2 ms-2 p-2"
                        onclick="cancelReleaseQuiz('<%= quiz._id %>')">
                        <span class="text_btn">ยกเลิกการปล่อย</span>
                        <i class="bi bi-x-circle ms-1"></i>
                      </a>


                      <% } %>



                </div>




                <!-- อยากทำปุม่ปล่อย พอกดแล้วมีเลือกวันหมดเขตทำ แล้วเปลี่ยนเป็นปุ่มหยุดปล่อยแทน
                มีบอกสถานะว่า ปล่อยรึยัง
                -->
                <div class="d-flex w-50 justify-content-end">
                  <a href="#" class="add-button btn btn-danger my-2 p-2" onclick="confirmDelete('<%=quiz._id%>')">
                    <span class="text_btn">ลบแบบทดสอบ</span>
                    <i class="bi bi-trash3 mx-2"></i>
                  </a>
                </div>
              </div>
              <br>
              <hr><br>
              <p class="fw-normal w-auto fs-6 mx-2">สถานะ:
                <span id="releaseStatus" class="fw-normal fs-6" style="margin-right: 1em !important;">
                  <% if (quiz.isReleased===true) { %>
                    <span class="text-success">
                      ปล่อยแล้วเมื่อ <%= releaseWhenLocal ? releaseWhenLocal : 'ยังไม่มีการตั้งเวลาปล่อย' %>
                    </span>

                    <% if (quiz.deadline) { %>
                      <span class="grey">
                        | หมดเขต <%= deadlineLocal ? deadlineLocal : 'ยังไม่มีการตั้งเวลาหมดเขต' %>
                      </span>
                      <% } %>

                        <% } else if (quiz.releaseWhen) { %>
                          <span class="text-warning">
                            จะปล่อยเมื่อ <%= releaseWhenLocal %>
                          </span>
                          <% if (quiz.deadline) { %>
                            <span class="grey">
                              | จะหมดเขต <%= deadlineLocal ? deadlineLocal : 'ยังไม่มีการตั้งเวลาหมดเขต' %>
                            </span>
                            <% } %>

                              <% } else { %>
                                <span class="text-danger">
                                  ยังไม่ได้ปล่อย
                                </span>
                                <% } %>
                </span>
              </p>

            </div>
            <br>
            <% if (quiz.questions.length> 0) { %>

              <div style="margin: 1.2rem !important;">
                <span id="question-count" class="me-2 fs-5">
                  <%= questions.length %> ข้อ
                </span>
                <span id="all-points-count" class="grey">
                  (<%= questions.reduce((total, question)=> total + question.points, 0) %> คะแนน)
                </span>
              </div>

              <div class="questionContainer">
                <% questions.forEach((question, i)=> { %>
                  <div class="question" id="question_<%= i %>">
                    <div class="first">
                      <div class="input-question">
                        <%= question.questionText %>
                      </div>
                      <span class="grey ms-4">
                        <%= question.points %> คะแนน
                      </span>
                    </div>
                    <br>
                    <div class="options">
                      <% if (question.questionType==='MCQ' || question.questionType==='checkbox' ) { %>
                        <% question.options.forEach((option, j)=> { %>
                          <div class="form-check" style="display: flex; align-items: center;">
                            <input class="input_check"
                              type="<%= question.questionType === 'MCQ' ? 'radio' : 'checkbox' %>" name="Answ_<%= i %>"
                              value="<%= j %>" disabled>
                            <div style="flex-grow: 1; padding: 5px;">
                              <%= option.optionText %>
                            </div>
                          </div>
                          <% }) %>
                            <% } else if (question.questionType==='Paragraph' ) { %>
                              <textarea class="form-control mx-4 mt-2" name="answer_<%= i %>" rows="1"
                                style="width:90%;" readonly></textarea>
                              <% } else if (question.questionType==='short_answ' ) { %>
                                <textarea class="form-control ms-4 mt-2" name="answer_<%= i %>" rows="1"
                                  style="width:50%;" readonly></textarea>
                                <% } %>
                    </div>
                  </div>
                  <% }) %>
                    <% } else { %>
                      <p class="px-3">แบบทดสอบยังไม่มีคำถาม เนื่องจากคุณยังไม่ได้เพิ่มคำถามใด ๆ ให้แก่แบบทดสอบนี้</p>
                      <a href="/adminIndex/eachQuiz?quizId=<%= quiz._id %>/edit" class="px-3 addContent-a text-primary">
                        เพิ่มคำถาม <i class="bi bi-plus-circle-fill"></i>
                      </a>
                      <% } %>

              </div>

          </div>
        </div>
    </div>



    </div>
    <%- include("./partials/footer.ejs")%>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
      <script>


        function confirmRelease(quizId) {
          Swal.fire({
            title: 'ยืนยันการปล่อยแบบทดสอบ?',
            text: "คุณแน่ใจหรือไม่ว่าต้องการปล่อยแบบทดสอบนี้ทันที!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            confirmButtonText: 'ใช่, ปล่อยเลย!',
            cancelButtonText: 'ยกเลิก',
            customClass: {
              container: 'swal-container',

              icon: 'swal-icon',
              confirmButton: 'swal-confirm-button',
              cancelButton: 'swal-cancel-button'
            }
          }).then((result) => {
            if (result.isConfirmed) {
              // ปล่อยแบบทดสอบทันที (ปรับเวลาเป็น UTC+7)
              let releaseWhen = new Date(); // เวลาปัจจุบัน (UTC)
              releaseWhen = new Date(releaseWhen.getTime() + (7 * 60 * 60 * 1000)); // เพิ่ม 7 ชั่วโมงเพื่อเป็นเวลาไทย (UTC+7)
              submitReleaseQuiz(quizId, releaseWhen.toISOString(), null); // ส่งในรูปแบบ ISO และไม่มี deadline
            }
          });
        }

        function confirmDelete(quizId) {
          Swal.fire({
            title: "แน่ใจแล้วหรือยัง?",
            text: "คุณไม่สามารถเรียกคืนแบบทดสอบนี้ได้!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "gray",
            confirmButtonText: "ลบแบบทดสอบ",
            cancelButtonText: "ยกเลิก",
            customClass: {
              container: 'swal-container',

              icon: 'swal-icon',
              confirmButton: 'swal-confirm-button',
              cancelButton: 'swal-cancel-button'
            }
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = `/adminIndex/deleteQuiz?quizId=${quizId}`;
            }
          });
        }

        function openReleaseQuizModal(quizId) {
          Swal.fire({
            title: '<div class="my-4">ปล่อยแบบทดสอบ</div>',
            html: `
      <div><label for="releaseDate" class="form-label me-2">วันเวลาที่จะปล่อย:</label></div>
      <div class="d-flex justify-content-center mb-3">
          <div class="m-3">
              <input type="date" style="width: 125px;" id="releaseDate" class="form-control" required>
          </div>
          <div class="m-3">
              <input type="time" style="width: 125px;" id="releaseTime" class="form-control" required>
          </div>
      </div>

      <div><label for="deadlineDate" class="form-label me-2">วันเวลาหมดเขต (ทางเลือก):</label></div>
      <div class="d-flex justify-content-center ">
          <div class="d-flex align-items-center m-3">
              <input type="date" style="width: 125px;" id="deadlineDate" class="form-control">
          </div>
          <div class="d-flex align-items-center m-3">
              <input type="time" style="width: 125px;" id="deadlineTime" class="form-control">
          </div>
      </div>
    `,
            showCancelButton: true,
            confirmButtonText: 'ปล่อยแบบทดสอบ',
            cancelButtonText: 'ยกเลิก',
            customClass: {
              container: 'swal-container',
              icon: 'swal-icon',
              confirmButton: 'swal-launch-button',
              cancelButton: 'swal-cancel-button'
            },

            didOpen: () => {
              const releaseDateInput = document.getElementById('releaseDate');
              const releaseTimeInput = document.getElementById('releaseTime');
              const deadlineDateInput = document.getElementById('deadlineDate');
              const deadlineTimeInput = document.getElementById('deadlineTime');

              // ตั้งค่า min สำหรับวันที่เป็นวันถัดไปจากวันที่ปัจจุบัน
              const today = new Date();
              const tomorrow = new Date(today);
              tomorrow.setDate(today.getDate() + 1);
              const tomorrowString = tomorrow.toISOString().split('T')[0];

              releaseDateInput.setAttribute('min', tomorrowString);
              deadlineDateInput.setAttribute('min', tomorrowString); // ใช้ค่าเดียวกันสำหรับ deadline
            },

            preConfirm: () => {
              const releaseDate = document.getElementById('releaseDate').value;
              const releaseTime = document.getElementById('releaseTime').value;
              const deadlineDate = document.getElementById('deadlineDate').value;
              const deadlineTime = document.getElementById('deadlineTime').value;

              // ตรวจสอบว่า releaseDate และ releaseTime ต้องไม่ว่าง
              if (!releaseDate || !releaseTime) {
                Swal.showValidationMessage('กรุณากรอกวันและเวลาสำหรับการปล่อยแบบทดสอบ');
                return false;
              }

              let releaseWhen = new Date(`${releaseDate}T${releaseTime}:00`);
              releaseWhen = new Date(releaseWhen.getTime() + (7 * 60 * 60 * 1000)); // แปลงเวลาให้เป็นเวลาไทย (UTC+7)

              try {
                if (isNaN(releaseWhen.getTime())) {
                  throw new Error('Invalid release date/time');
                }

                let deadline = null; // กำหนดให้เป็น null ก่อน
                if (deadlineDate && deadlineTime) {
                  deadline = new Date(`${deadlineDate}T${deadlineTime}:00`);
                  deadline = new Date(deadline.getTime() + (7 * 60 * 60 * 1000));

                  // ตรวจสอบว่า deadline หลังจาก releaseWhen หรือไม่
                  if (deadline <= releaseWhen) {
                    throw new Error('วันเวลาหมดเขตต้องอยู่หลังวันเวลาปล่อยแบบทดสอบ');
                  }

                  deadline = deadline.toISOString();
                }

                return {
                  releaseWhen: releaseWhen.toISOString(),
                  deadline
                };
              } catch (error) {
                Swal.showValidationMessage(error.message);
                return false;
              }
            }
          }).then((result) => {
            if (result.isConfirmed) {
              console.log('Submitted Release:', result.value.releaseWhen);
              console.log('Submitted Deadline:', result.value.deadline);
              submitScheduleQuizRelease(quizId, result.value.releaseWhen, result.value.deadline);
            }
          });
        }

        function submitReleaseQuiz(quizId, releaseWhen, deadline) {
          console.log('quizId:', quizId); // ตรวจสอบว่า quizId ถูกส่งมาเป็นสตริงหรือไม่

          const isReleased = true; // ปล่อยแบบทดสอบ

          fetch(`/adminIndex/releaseQuiz/${quizId}`, {  // ใช้ path parameters แทน query parameters
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              isReleased,
              releaseWhen,
              deadline
            })
          })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                Swal.fire({
                  icon: "success",
                  title: "ปล่อยแบบทดสอบสำเร็จ",
                  showConfirmButton: false,
                  timer: 1500,

                  customClass: {
                    container: 'swal-container',
                    icon: 'swal-icon',
                  },
                }).then(() => {
                  location.reload(); // รีเฟรชหน้าจอหลังจากปิด Swal
                });
              } else {
                alert('เกิดข้อผิดพลาดในการปล่อยแบบทดสอบ');
              }
            })
            .catch(error => {
              // จัดการข้อผิดพลาดในกรณีที่ fetch ล้มเหลว
              console.error('Error:', error);
              Swal.fire({
                icon: "error",
                title: "เกิดข้อผิดพลาดในการเชื่อมต่อ",
                text: error.message || "ไม่สามารถเชื่อมต่อกับ server ได้",
                customClass: {
                  container: 'swal-container',

                  icon: 'swal-icon',
                  confirmButton: 'swal-confirm-button',
                  cancelButton: 'swal-cancel-button'
                },
              });
            });
        }

        function submitScheduleQuizRelease(quizId, releaseWhen, deadline) {
          console.log('quizId:', quizId); // ตรวจสอบ quizId
          console.log('releaseWhen:', releaseWhen); // ตรวจสอบเวลา release
          console.log('deadline:', deadline); // ตรวจสอบ deadline

          // ส่งค่าไปที่ Back-end
          fetch(`/adminIndex/scheduleQuizRelease/${quizId}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              releaseWhen,  // เวลาในการปล่อย
              deadline      // กำหนดเส้นตาย
            })
          })
            .then(response => response.json())
            .then(data => {
              console.log('Response from server:', data); // ดูผลลัพธ์จาก Back-end
              if (data.success) {
                Swal.fire({
                  icon: "success",
                  title: "ตั้งเวลาปล่อยแบบทดสอบสำเร็จ",
                  showConfirmButton: false,
                  customClass: {
                    container: 'swal-container',

                    icon: 'swal-icon',
                    confirmButton: 'swal-confirm-button',
                    cancelButton: 'swal-cancel-button'
                  },
                  timer: 1500,
                }).then(() => {
                  location.reload();
                });
              } else {
                Swal.fire({
                  icon: "error",
                  title: "เกิดข้อผิดพลาด",
                  text: data.message || 'ไม่สามารถตั้งเวลาปล่อยแบบทดสอบได้',
                });
              }
            })
            .catch(error => {
              console.error('Error:', error); // แสดงข้อผิดพลาดใน Console
              Swal.fire({
                icon: "error",
                title: "เกิดข้อผิดพลาดในการเชื่อมต่อ",
                text: error.message || "ไม่สามารถเชื่อมต่อกับ server ได้",
              });
            });
        }


        function cancelReleaseQuiz(quizId) {
          Swal.fire({
            title: "แน่ใจแล้วหรือยัง?",
            text: "หากยกเลิกการปล่อยแล้วนักศึกษาทั้งหมดจะไม่เห็นแบบทสอบนี้!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "gray",
            confirmButtonText: "ยืนยัน",
            cancelButtonText: "ยกเลิก",
            customClass: {
              container: 'swal-container',
              icon: 'swal-icon',
              confirmButton: 'swal-confirm-button',
              cancelButton: 'swal-cancel-button'
            }
          }).then((result) => {
            if (result.isConfirmed) {
              // ถ้าผู้ใช้ยืนยันการยกเลิก
              fetch(`/adminIndex/releaseQuiz/${quizId}`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  isReleased: false,  // ตั้ง isReleased เป็น false เพื่อยกเลิกการปล่อย
                })
              })
                .then(response => response.json())
                .then(data => {
                  if (data.success) {
                    Swal.fire({
                      icon: "success",
                      title: "ยกเลิกการปล่อยสำเร็จ",
                      showConfirmButton: false,
                      timer: 1500,

                      customClass: {
                        container: 'swal-container',
                        icon: 'swal-icon'
                      },
                    }).then(() => {
                      location.reload(); // รีเฟรชหน้าเพื่ออัปเดตสถานะ
                    });
                  } else {
                    Swal.fire({
                      title: 'เกิดข้อผิดพลาด',
                      text: 'เกิดข้อผิดพลาดในการยกเลิกการปล่อย',
                      icon: 'error',
                      confirmButtonText: 'ตกลง'
                    });
                  }
                })
                .catch(error => console.error('Error:', error));
            }
          });
        }

        function updateQuestionCount() {
          const questionCountElement = document.getElementById('question-count');
          questionCountElement.innerHTML = `${quiz.questions.length} คำถาม`;
        }

        function calculateTotalPoints() {
          const totalPoints = quiz.questions.reduce((sum, question) => sum + question.points, 0);
          document.getElementById('all-points-count').innerText = `( ${totalPoints} คะแนน)`;
        }

        function updateQuestionPoints(index, newPoints) {
          // ปรับคะแนนในอาร์เรย์ questions
          quiz.questions[index].points = Number(newPoints);
          // คำนวณคะแนนรวมใหม่
          calculateTotalPoints();
        }


      </script>


</body>

</html>