<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>งานที่มอบหมาย</title>
  <%- include("./partials/header.ejs")%>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/assignment.css">
  <link rel="stylesheet" href="/css/fixedSwal.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@4/lib/noty.css">
  <script src="https://cdn.jsdelivr.net/npm/noty@4/lib/noty.min.js"></script>
  
</head>

<body>
  <div id="blur-container">
    <%- include("./partials/studentNav.ejs")%>
    <!-- <div class="above-nav d-flex px-4 py-3">
      <div class="home-div above-nav-home d-flex mx-2 my-0 align-middle">
        <i class="bi bi-house mx-2"></i>
        <a href="/adminIndex" class="a-home">
          <p class="m-0">หน้าหลัก &nbsp;&nbsp;></p>
        </a>
      </div>
      <a href="#" class="status-a mx-2 my-0 align-middle">
        <p class="m-0">บทเรียน</p>
      </a>
    </div> -->
  </div>
  <div class="main-content d-flex w-100 h-auto">
    <%- include("./partials/studentAside.ejs")%>
    <div class="aside-right w-75 h-auto p-4">
      <div class="manange-bar px-4 py-3 bg-white d-flex w-100 row" id="topBar">
        <div class="col-6">
          <p class="fw-bold fs-3 lesson-bar">งานที่มอบหมาย</p>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <a href="/historyAssignment" class="btn btn-secondary py-2 px-2">ประวัติการส่งงาน <i class="bi bi-clock-history"></i>
          </a>
        </div>
        <!-- <div>
          <a href="/adminIndex/addAssign" class="add-button btn btn-primary m-0 p-2">
            มอบหมายงาน <i class="bi bi-file-arrow-up-fill"></i>
          </a>
          <a href="#" class="add-button btn btn-dark m-0 p-2">
            นำออกข้อมูลนักศึกษา (Export file) <i class="bi bi-file-arrow-down-fill"></i>
            </i>
          </a>
        </div> -->
      </div>
      <div class="lesson-content bg-white w-100 p-4 my-4" style="height: fit-content;">
        <p class="fw-bold">
          <i class="bi bi-card-list text-primary fs-5"></i>
          <span class="mx-1 fs-5 py-1">รายชื่องานที่มอบหมาย
          </span>
        </p>
        <% const schoolYear = userData.student.schoolYear.schoolYear%>
        <% const assignments = userData.student.schoolYear.Assignments %>
        <div class="showYear show<%=schoolYear%>">
          <div class="set-border-bottom">
            <p class="my-2 p-schoolYear"><span class="text-dark fw-bold">ปีการศึกษา: </span>
              <span class="text-primary"> <%=schoolYear%></span>
            </p>
          </div>
        </div>
        <% if (assignments.length > 0) { %>
        <div class="list-div">
          <p class="fs-6 fw-bold">
            ชื่อ
          </p>
          <p class="fs-6 fw-bold">
            วันที่เปิดให้ส่ง
          </p>
          <p class="fs-6 fw-bold">
            วันที่หมดเขตส่ง
          </p>
          <p class="fs-6 fw-bold text-center">
            จำนวนที่นักศึกษาส่งงาน
          </p>
          <p class="fs-6 fw-bold text-center">
            คะแนนเต็ม
          </p>
        </div>
        <% assignments.forEach(assign => { %>
        <% const startDate = new Date(assign.StartDate).toLocaleString('en-US', {timeZone: 'Asia/Bangkok', hour12: true, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'}); %>
        <% const Deadline = new Date(assign.Deadline).toLocaleString('en-US', {timeZone: 'Asia/Bangkok', hour12: true, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit'});%>
        <a href="/studentAssignDetail?id=<%= assign._id %>" class="data-a">
          <div class="list-div-data py-3">
            <p class="fs-6 fw-normal text-dark">
              <%= assign.name %>
            </p>
            <p class="fs-6 fw-normal text-success">
              <%= startDate.replace(',', '')%>
            </p>
            <p class="fs-6 fw-normal text-danger">
              <%= Deadline.replace(',', '') %>
            </p>
            <p class="fs-6 fw-normal text-center">
              <%= assign.sentCount %>
            </p>
            <p class="fs-6 fw-normal text-success text-center">
              <%= assign.Score %>
            </p>
          </div>
        </a>
        <% }); %>
        <% } else if (assignments.length < 1) {%>
        <div class="list-no-assign">
          <p class="text-start text-secondary" style="font-size: small;">ยังไม่มีงานที่มอบหมายในระบบในปีการศึกษา: <span class="mx-1 text-primary"><%=schoolYear%></span></p>
        </div>
        <% } %>
      </div>
    </div>

  </div>
  <%- include("./partials/footer.ejs")%>
</body>


</html>